body {
  background: #eee;
  font-family: sans-serif;
}

.title,
.content,
.button-container {
  padding: 13px;
  margin: 10px;
  border-radius: 5px;
}

.card {
  width: 475px;
  background: #fff;
  padding: 3px;
  margin: 16px auto;
  border-radius: 10px;
}

.title {
  background: #e3f4ff;
  font-size: x-large;
}

.content {
  background: #e3f4ff;
  font-size: large;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
  display: block;
  padding: 10px 30px;
  margin: auto;
}